html,
body {
  scroll-behavior: smooth;
  --shiki-light: #4c4f69;
  --shiki-dark: #d6deeb;
  --shiki-light-bg: #eff1f5;
  --shiki-dark-bg: #011627;
}

body.dark {
  background: #1a202c;
  color: rgba(255, 255, 255, 0.92);
}

code,
code span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}

body.dark code,
body.dark code span {
  color: var(--shiki-dark);
  background-color: var(--shiki-dark-bg);
}

article figure {
  @apply my-3;
}

article code {
  counter-reset: line;
}

article code > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

article :not(div.p-3) > code {
  @apply px-2;
}
