body.dark .hljs {
  color: #c9d1d9;
  background: #0d1117;
  display: block;
}
body.dark .hljs-doctag,
body.dark .hljs-keyword,
body.dark .hljs-meta .hljs-keyword,
body.dark .hljs-template-tag,
body.dark .hljs-template-variable,
body.dark .hljs-type,
body.dark .hljs-variable.language_ {
  /* prettylights-syntax-keyword */
  color: #ff7b72;
}
body.dark .hljs-title,
body.dark .hljs-title.class_,
body.dark .hljs-title.class_.inherited__,
body.dark .hljs-title.function_ {
  /* prettylights-syntax-entity */
  color: #d2a8ff;
}
body.dark .hljs-attr,
body.dark .hljs-attribute,
body.dark .hljs-literal,
body.dark .hljs-meta,
body.dark .hljs-number,
body.dark .hljs-operator,
body.dark .hljs-variable,
body.dark .hljs-selector-attr,
body.dark .hljs-selector-class,
body.dark .hljs-selector-id {
  /* prettylights-syntax-constant */
  color: #79c0ff;
}
body.dark .hljs-regexp,
body.dark .hljs-string,
body.dark .hljs-meta .hljs-string {
  /* prettylights-syntax-string */
  color: #a5d6ff;
}
body.dark .hljs-built_in,
body.dark .hljs-symbol {
  /* prettylights-syntax-variable */
  color: #ffa657;
}
body.dark .hljs-comment,
body.dark .hljs-code,
body.dark .hljs-formula {
  /* prettylights-syntax-comment */
  color: #8b949e;
}
body.dark .hljs-name,
body.dark .hljs-quote,
body.dark .hljs-selector-tag,
body.dark .hljs-selector-pseudo {
  /* prettylights-syntax-entity-tag */
  color: #7ee787;
}
body.dark .hljs-subst {
  /* prettylights-syntax-storage-modifier-import */
  color: #c9d1d9;
}
body.dark .hljs-section {
  /* prettylights-syntax-markup-heading */
  color: #1f6feb;
  font-weight: bold;
}
body.dark .hljs-bullet {
  /* prettylights-syntax-markup-list */
  color: #f2cc60;
}
body.dark .hljs-emphasis {
  /* prettylights-syntax-markup-italic */
  color: #c9d1d9;
  font-style: italic;
}
body.dark .hljs-strong {
  /* prettylights-syntax-markup-bold */
  color: #c9d1d9;
  font-weight: bold;
}
body.dark .hljs-addition {
  /* prettylights-syntax-markup-inserted */
  color: #aff5b4;
  background-color: #033a16;
}
body.dark .hljs-deletion {
  /* prettylights-syntax-markup-deleted */
  color: #ffdcd7;
  background-color: #67060c;
}
body.dark .hljs-char.escape_,
body.dark .hljs-link,
body.dark .hljs-params,
body.dark .hljs-property,
body.dark .hljs-punctuation,
body.dark .hljs-tag {
  /* purposely ignored */
}
