/* layer: preflights */
*,::before,::after{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgb(0 0 0 / 0);--un-ring-shadow:0 0 rgb(0 0 0 / 0);--un-shadow-inset: ;--un-shadow:0 0 rgb(0 0 0 / 0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgb(147 197 253 / 0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}::backdrop{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgb(0 0 0 / 0);--un-ring-shadow:0 0 rgb(0 0 0 / 0);--un-shadow-inset: ;--un-shadow:0 0 rgb(0 0 0 / 0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgb(147 197 253 / 0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}
/* layer: shortcuts */
.container{width:100%;}
@media (min-width: 640px){
.container{max-width:640px;}
}
@media (min-width: 768px){
.container{max-width:768px;}
}
@media (min-width: 1024px){
.container{max-width:1024px;}
}
@media (min-width: 1280px){
.container{max-width:1280px;}
}
@media (min-width: 1536px){
.container{max-width:1536px;}
}
/* layer: default */
.visible{visibility:visible;}
.absolute{position:absolute;}
.relative{position:relative;}
.sticky{position:sticky;}
.before\:absolute::before{position:absolute;}
.after\:absolute::after{position:absolute;}
.left-0{left:0;}
.top-0{top:0;}
.top-5{top:1.25rem;}
.before\:left-0::before{left:0;}
.before\:top-0::before{top:0;}
.after\:bottom-0::after{bottom:0;}
.after\:left-\[-40px\]::after{left:-40px;}
.after\:left-0::after{left:0;}
.after\:top-0::after{top:0;}
.after\:top-80\%::after{top:80%;}
.z-0{z-index:0;}
.grid{display:grid;}
.grid-cols-1{grid-template-columns:repeat(1,minmax(0,1fr));}
.mx-1vw{margin-left:1vw;margin-right:1vw;}
.mx-20px{margin-left:20px;margin-right:20px;}
.mx-auto{margin-left:auto;margin-right:auto;}
.my{margin-top:1rem;margin-bottom:1rem;}
.my-\[6vw\]{margin-top:6vw;margin-bottom:6vw;}
.my-1{margin-top:0.25rem;margin-bottom:0.25rem;}
.mb-\[30px\]{margin-bottom:30px;}
.mb-2{margin-bottom:0.5rem;}
.mb-3{margin-bottom:0.75rem;}
.mb-4{margin-bottom:1rem;}
.mb-5{margin-bottom:1.25rem;}
.mb-50px{margin-bottom:50px;}
.mb-6{margin-bottom:1.5rem;}
.me{margin-inline-end:1rem;}
.ml-1{margin-left:0.25rem;}
.ml-2{margin-left:0.5rem;}
.ml-2\.5{margin-left:0.625rem;}
.ml-4{margin-left:1rem;}
.ml-8{margin-left:2rem;}
.mr-2{margin-right:0.5rem;}
.mr-4{margin-right:1rem;}
.mt-\[30px\]{margin-top:30px;}
.mt-\[5vh\]{margin-top:5vh;}
.mt-10vh{margin-top:10vh;}
.mt-3{margin-top:0.75rem;}
.mt-4{margin-top:1rem;}
.mt-6{margin-top:1.5rem;}
.before\:mr-10px::before{margin-right:10px;}
.inline{display:inline;}
.block{display:block;}
.before\:block::before{display:block;}
.after\:block::after{display:block;}
.hidden{display:none;}
.size-4{width:1rem;height:1rem;}
.h-6{height:1.5rem;}
.h-auto{height:auto;}
.h-fit{height:fit-content;}
.h-screen{height:100vh;}
.h2{height:0.5rem;}
.h3{height:0.75rem;}
.max-w-\[60ch\]{max-width:60ch;}
.max-w-\[750px\]{max-width:750px;}
.max-w-800px{max-width:800px;}
.max-w-full{max-width:100%;}
.min-h-75vh{min-height:75vh;}
.min-w-\[320px\]{min-width:320px;}
.min-w-10{min-width:2.5rem;}
.w-12\/12,
.w-full{width:100%;}
.w-2\/12{width:16.6666666667%;}
.w-3\/12{width:25%;}
.w-6{width:1.5rem;}
.w-auto{width:auto;}
.w-fit{width:fit-content;}
.before\:h-full::before{height:100%;}
.before\:w-0\.5::before{width:0.125rem;}
.after\:h-2px::after{height:2px;}
.after\:h-full::after{height:100%;}
.after\:w-0\.5::after{width:0.125rem;}
.after\:w-100::after{width:25rem;}
.after\:w-28::after{width:7rem;}
.after\:w-32::after{width:8rem;}
.after\:w-80\%::after{width:80%;}
.after\:w-full::after{width:100%;}
.flex{display:flex;}
.inline-flex{display:inline-flex;}
.flex-row{flex-direction:row;}
.flex-col{flex-direction:column;}
.flex-wrap{flex-wrap:wrap;}
.table{display:table;}
.hover\:rotate-\[-10deg\]:hover{--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-rotate:-10deg;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.hover\:rotate-\[10deg\]:hover{--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-rotate:10deg;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.hover\:rotate-\[15deg\]:hover{--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-rotate:15deg;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.hover\:rotate-\[5deg\]:hover{--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-rotate:5deg;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.active\:rotate-\[-15deg\]:active{--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-rotate:-15deg;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.active\:rotate-\[10deg\]:active{--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-rotate:10deg;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.active\:rotate-\[15deg\]:active{--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-rotate:15deg;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.active\:rotate-\[20deg\]:active{--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-rotate:20deg;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.active\:scale-75:active{--un-scale-x:0.75;--un-scale-y:0.75;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.active\:scale-80:active{--un-scale-x:0.8;--un-scale-y:0.8;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.hover\:after\:scale-x-100:hover::after{--un-scale-x:1;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.after\:hover\:scale-x-100:hover::after{--un-scale-x:1;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.after\:scale-x-0::after{--un-scale-x:0;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.after\:transform::after{transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.cursor-pointer{cursor:pointer;}
.resize{resize:both;}
.list-disc{list-style-type:disc;}
.list-none{list-style-type:none;}
.appearance-none{-webkit-appearance:none;appearance:none;}
.content-center{align-content:center;}
.content-start{align-content:flex-start;}
.items-start{align-items:flex-start;}
.items-center{align-items:center;}
.justify-start{justify-content:flex-start;}
.justify-end{justify-content:flex-end;}
.justify-center{justify-content:center;}
.justify-between{justify-content:space-between;}
.justify-evenly{justify-content:space-evenly;}
.gap-\[15px\]{gap:15px;}
.gap-\[200px\]{gap:200px;}
.gap-\[30px\]{gap:30px;}
.gap-\[5px\]{gap:5px;}
.gap-10px{gap:10px;}
.gap-2{gap:0.5rem;}
.gap-2\.5{gap:0.625rem;}
.gap-4{gap:1rem;}
.gap-5vh{gap:5vh;}
.gap-6{gap:1.5rem;}
.gap-8{gap:2rem;}
.gap-80px{gap:80px;}
.space-y-1>:not([hidden])~:not([hidden]){--un-space-y-reverse:0;margin-top:calc(0.25rem * calc(1 - var(--un-space-y-reverse)));margin-bottom:calc(0.25rem * var(--un-space-y-reverse));}
.space-y-10>:not([hidden])~:not([hidden]){--un-space-y-reverse:0;margin-top:calc(2.5rem * calc(1 - var(--un-space-y-reverse)));margin-bottom:calc(2.5rem * var(--un-space-y-reverse));}
.space-y-2>:not([hidden])~:not([hidden]){--un-space-y-reverse:0;margin-top:calc(0.5rem * calc(1 - var(--un-space-y-reverse)));margin-bottom:calc(0.5rem * var(--un-space-y-reverse));}
.space-y-4>:not([hidden])~:not([hidden]){--un-space-y-reverse:0;margin-top:calc(1rem * calc(1 - var(--un-space-y-reverse)));margin-bottom:calc(1rem * var(--un-space-y-reverse));}
.overflow-x-auto{overflow-x:auto;}
.whitespace-nowrap{white-space:nowrap;}
.border-\[5px\]{border-width:5px;}
.border-b-\[0\.2rem\]{border-bottom-width:0.2rem;}
.rounded-20px{border-radius:20px;}
.rounded-4{border-radius:1rem;}
.rounded-full{border-radius:9999px;}
.rounded-lg{border-radius:0.5rem;}
.rounded-md{border-radius:0.375rem;}
.before\:rounded::before{border-radius:0.25rem;}
.after\:rounded::after{border-radius:0.25rem;}
.bg-\[var\(--shiki-light-bg\)\]{background-color:var(--shiki-light-bg);}
.bg-gray-100{--un-bg-opacity:1;background-color:rgb(243 244 246 / var(--un-bg-opacity));}
.dark .dark\:bg-\[var\(--shiki-dark-bg\)\]{background-color:var(--shiki-dark-bg);}
.dark .dark\:bg-gray-900{--un-bg-opacity:1;background-color:rgb(17 24 39 / var(--un-bg-opacity));}
.before\:bg-gray-700::before{--un-bg-opacity:1;background-color:rgb(55 65 81 / var(--un-bg-opacity));}
.dark .before\:dark\:bg-gray-300::before{--un-bg-opacity:1;background-color:rgb(209 213 219 / var(--un-bg-opacity));}
.after\:bg-red-400::after{--un-bg-opacity:1;background-color:rgb(248 113 113 / var(--un-bg-opacity));}
.after\:bg-red::after{--un-bg-opacity:1;background-color:rgb(248 113 113 / var(--un-bg-opacity));}
.dark .dark\:stroke-gray-200{--un-stroke-opacity:1;stroke:rgb(229 231 235 / var(--un-stroke-opacity));}
.stroke-gray-800{--un-stroke-opacity:1;stroke:rgb(31 41 55 / var(--un-stroke-opacity));}
.p-\[20px\]{padding:20px;}
.p-0{padding:0;}
.p-3{padding:0.75rem;}
.p-30px{padding:30px;}
.p-8{padding:2rem;}
.px-4{padding-left:1rem;padding-right:1rem;}
.py-12{padding-top:3rem;padding-bottom:3rem;}
.py-2{padding-top:0.5rem;padding-bottom:0.5rem;}
.pb-0{padding-bottom:0;}
.pl-3{padding-left:0.75rem;}
.pt,
.pt-4{padding-top:1rem;}
.text-center{text-align:center;}
.align-baseline{vertical-align:baseline;}
.text-2xl{font-size:1.5rem;line-height:2rem;}
.text-3xl{font-size:1.875rem;line-height:2.25rem;}
.text-4xl{font-size:2.25rem;line-height:2.5rem;}
.text-5xl{font-size:3rem;line-height:1;}
.text-base{font-size:1rem;line-height:1.5rem;}
.text-lg{font-size:1.125rem;line-height:1.75rem;}
.text-sm{font-size:0.875rem;line-height:1.25rem;}
.text-xl{font-size:1.25rem;line-height:1.75rem;}
.dark .dark\:text-gray-100{--un-text-opacity:1;color:rgb(243 244 246 / var(--un-text-opacity));}
.dark .dark\:text-gray-300{--un-text-opacity:1;color:rgb(209 213 219 / var(--un-text-opacity));}
.dark .dark\:text-gray-400,
.text-gray-400{--un-text-opacity:1;color:rgb(156 163 175 / var(--un-text-opacity));}
.dark .dark\:text-neutral-100{--un-text-opacity:1;color:rgb(245 245 245 / var(--un-text-opacity));}
.dark .dark\:text-neutral-400{--un-text-opacity:1;color:rgb(163 163 163 / var(--un-text-opacity));}
.dark .dark\:text-white,
.text-white{--un-text-opacity:1;color:rgb(255 255 255 / var(--un-text-opacity));}
.data-\[top-element\=\'true\'\]\:text-red-400[data-top-element='true'],
.text-red-400{--un-text-opacity:1;color:rgb(248 113 113 / var(--un-text-opacity));}
.text-black{--un-text-opacity:1;color:rgb(0 0 0 / var(--un-text-opacity));}
.text-blue-300{--un-text-opacity:1;color:rgb(147 197 253 / var(--un-text-opacity));}
.text-gray-500{--un-text-opacity:1;color:rgb(107 114 128 / var(--un-text-opacity));}
.text-gray-600{--un-text-opacity:1;color:rgb(75 85 99 / var(--un-text-opacity));}
.text-gray-700{--un-text-opacity:1;color:rgb(55 65 81 / var(--un-text-opacity));}
.text-gray-800{--un-text-opacity:1;color:rgb(31 41 55 / var(--un-text-opacity));}
.text-gray-900{--un-text-opacity:1;color:rgb(17 24 39 / var(--un-text-opacity));}
.text-green-500{--un-text-opacity:1;color:rgb(34 197 94 / var(--un-text-opacity));}
.text-neutral-600{--un-text-opacity:1;color:rgb(82 82 82 / var(--un-text-opacity));}
.text-neutral-900{--un-text-opacity:1;color:rgb(23 23 23 / var(--un-text-opacity));}
.text-red-300{--un-text-opacity:1;color:rgb(252 165 165 / var(--un-text-opacity));}
.text-yellow-500{--un-text-opacity:1;color:rgb(234 179 8 / var(--un-text-opacity));}
.hover\:text-red-400:hover{--un-text-opacity:1;color:rgb(248 113 113 / var(--un-text-opacity));}
.before\:text-red-400::before{--un-text-opacity:1;color:rgb(248 113 113 / var(--un-text-opacity));}
.font-bold{font-weight:700;}
.font-medium{font-weight:500;}
.font-semibold{font-weight:600;}
.leading-\[1\.2\]{line-height:1.2;}
.leading-none{line-height:1;}
.leading-normal{line-height:1.5;}
.leading-relaxed{line-height:1.625;}
.tracking-tight{letter-spacing:-0.025em;}
.capitalize{text-transform:capitalize;}
.tabular-nums{--un-numeric-spacing:tabular-nums;font-variant-numeric:var(--un-ordinal) var(--un-slashed-zero) var(--un-numeric-figure) var(--un-numeric-spacing) var(--un-numeric-fraction);}
.hover\:underline:hover{text-decoration-line:underline;}
.hover\:decoration-none:hover{text-decoration:none;}
.outline-offset-2{outline-offset:2px;}
.outline-none{outline:2px solid transparent;outline-offset:2px;}
.dark .dark\:brightness-80{--un-brightness:brightness(0.8);filter:var(--un-blur) var(--un-brightness) var(--un-contrast) var(--un-drop-shadow) var(--un-grayscale) var(--un-hue-rotate) var(--un-invert) var(--un-saturate) var(--un-sepia);}
.drop-shadow-\[0px_0px_12px_\#F56565\]{--un-drop-shadow:drop-shadow(0px 0px 12px #F56565);filter:var(--un-blur) var(--un-brightness) var(--un-contrast) var(--un-drop-shadow) var(--un-grayscale) var(--un-hue-rotate) var(--un-invert) var(--un-saturate) var(--un-sepia);}
.dark .dark\:invert{--un-invert:invert(1);filter:var(--un-blur) var(--un-brightness) var(--un-contrast) var(--un-drop-shadow) var(--un-grayscale) var(--un-hue-rotate) var(--un-invert) var(--un-saturate) var(--un-sepia);}
.dark .dark\:hover\:invert:hover{--un-invert:invert(1);filter:var(--un-blur) var(--un-brightness) var(--un-contrast) var(--un-drop-shadow) var(--un-grayscale) var(--un-hue-rotate) var(--un-invert) var(--un-saturate) var(--un-sepia);}
.transition{transition-property:color,background-color,border-color,outline-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:150ms;}
.transition-all{transition-property:all;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:150ms;}
.transition-transform{transition-property:transform;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:150ms;}
.duration-100{transition-duration:100ms;}
.duration-250{transition-duration:250ms;}
.duration-900{transition-duration:900ms;}
.after\:duration-250::after{transition-duration:250ms;}
.ease,
.ease-in-out{transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);}
.after\:ease-in-out::after{transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);}
.before\:content-\[\'\'\]::before{content:'';}
.before\:content-\[\'•\'\]::before{content:'•';}
.after\:content-\[\'\'\]::after{content:'';}
.after\:content-empty::after{content:"";}
@media print{
.print\:grid-cols-\[1fr_auto_1fr\]{grid-template-columns:1fr auto 1fr;}
.print\:m-0{margin:0;}
.print\:ml-0{margin-left:0;}
.print-inline,
.print\:inline{display:inline;}
.print\:block{display:block;}
.print\:hidden{display:none;}
.print\:min-w-full{min-width:100%;}
.print\:border{border-width:1px;}
.print\:border-gray-200{--un-border-opacity:1;border-color:rgb(229 231 235 / var(--un-border-opacity));}
.print\:border-none{border-style:none;}
.print\:bg-white{--un-bg-opacity:1;background-color:rgb(255 255 255 / var(--un-bg-opacity));}
.print\:p-0{padding:0;}
.print\:text-center{text-align:center;}
.print\:text-right{text-align:right;}
.print\:color-black{--un-text-opacity:1;color:rgb(0 0 0 / var(--un-text-opacity));}
}
@media (min-width: 768px){
.md\:grid-cols-2{grid-template-columns:repeat(2,minmax(0,1fr));}
.md\:grid-cols-3{grid-template-columns:repeat(3,minmax(0,1fr));}
.md\:flex{display:flex;}
.md\:flex-col{flex-direction:column;}
.md\:gap-40px{gap:40px;}
.md\:px-8{padding-left:2rem;padding-right:2rem;}
}
@media (min-width: 1024px){
.lg\:grid-cols-2{grid-template-columns:repeat(2,minmax(0,1fr));}
.lg\:grid-cols-3{grid-template-columns:repeat(3,minmax(0,1fr));}
.lg\:mt-0{margin-top:0;}
.lg\:w-10\/12{width:83.3333333333%;}
.lg\:w-7\/12{width:58.3333333333%;}
.after\:lg\:w-120::after{width:30rem;}
.after\:lg\:w-34\%::after{width:34%;}
.after\:lg\:w-40::after{width:10rem;}
.lg\:flex{display:flex;}
.lg\:gap-30px{gap:30px;}
}
@media (min-width: 1280px){
.xl\:gap-10px{gap:10px;}
}